@import "tailwindcss";

@font-face {
  font-family: "";
  src: url("");
}

@theme {
  /* Breakpoints */
  --breakpoint-sm: 24.375rem;
  --breakpoint-2xl: 120rem;
  --breakpoint-3xl: 160rem;
}

body {
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}
